---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";

// 获取并排序博客文章
const publishedBlogEntries = await getCollection("blog");
publishedBlogEntries.sort((a, b) => 
  b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<Layout title="Blog">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Our Blog</Fragment>
      <Fragment slot="desc">这里是所有的文章汇总。</Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {publishedBlogEntries.map((blogPostEntry) => (
          <li>
            <a href={`/blog/${blogPostEntry.slug}`}>
              <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
                <Picture
                  src={blogPostEntry.data.image.src}
                  alt={blogPostEntry.data.image.alt}
                  sizes="(max-width: 800px) 100vw, 800px"
                  width={800}
                  height={600}
                  loading="lazy"
                  class="w-full rounded-md object-cover bg-white"
                />
                <div>
                  <span class="text-blue-400 uppercase text-sm font-medium">
                    {blogPostEntry.data.category}
                  </span>
                  <h2 class="text-3xl font-semibold mt-1">
                    {blogPostEntry.data.title}
                  </h2>
                </div>
              </div>
            </a>
          </li>
        ))}
      </ul>
    </main>
  </Container>
</Layout>
